@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}
.producer {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
 }
.consumer {
    width: auto;
    padding: 10px 18px;
    background-color: #f33336;
 }