<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Enviro-balance</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo right">Enviro-Balance</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/manufacture">Manufacturer</a></li>
            <li><a href="/buyer">Buyer</a></li>
          </ul>
        </div>
      </nav>
  </body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='script.js') }}"></script>
</html>